@{ 
    Layout = "_Layout";
}
<h1>Cliquez sur les images pour visiter les vues</h1>
<h2>Vue /Ferme/Enclos</h2>
<div class="row m-2">
    <div class="col banner p-0">
        <a href="/Ferme/Enclos">
            <img src="~/images/pen.png" class="img-fluid" alt="Enclos" />
            <h3>&nbsp; → L'Enclos de Steve&nbsp;&nbsp;</h3>
        </a>
    </div>
</div>
<h2>Vue /Ferme/Maison</h2>
<div class="row m-2">
    <div class="col banner p-0">
        <a href="/Ferme/Maison">
            <img src="~/images/house.png" class="img-fluid" alt="Maison" />
            <h3>&nbsp; → La maison d'Alex&nbsp;&nbsp;</h3>
        </a>
    </div>
</div>
<h2>Vue /Ferme/Créer</h2>
<div class="row m-2">
    <div class="col banner p-0">
        <a href="/Ferme/Create">
            <img src="~/images/create.png" class="img-fluid" alt="Bébés" />
            <h3>&nbsp; → Créer un animal&nbsp;&nbsp;</h3>
        </a>
    </div>
</div>